/* About.scss */

.aboutMain {
  position: relative;
  display: flex;
  flex-direction: column;
}
.topic .collapsible{
  margin: 0 auto;
  margin-bottom: 10px;
}
.aboutMain img {
  display: block;
  margin: 0 auto;
  width: 1240px;
  height: 223px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 20px;
}


@media (max-width: 768px){
  .aboutMain img {
    width: 21rem;/*336px*/
    height: 13.938rem;/*223px*/
    object-fit: cover;
  }
  .topic{
    margin-bottom:11rem;/*176px*/
  }
  
  .topic .collapsible .content.open {
    width: 20.938rem;/*335px*/
  }
}