/*Collapse.scss*/

.collapsible {
    font-family: "montserrat";
    display: block;
    margin-bottom: 10px;
    width: 1040px;
    z-index: 100;
  }
  
  .collapsible h3 {
    font-size: 16px;
    font-weight: 500;
    background-color: #FF6060;
    color: #ffffff;
    border: solid 1px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-radius: 15px;
  }
  
  .collapsible .content {
    max-height: 0;
    opacity: 0;
    padding: 10px;
    background-color: #f0f0f2;
    color: #FF6060;
    margin: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease, padding 0.6s ease;
    border-radius: 15px;
  }
  
  .collapsible .content.open {
    max-height: 500px;
    opacity: 1;
    padding: 10px;
    margin: 0;
  }
  
  .collapsible h3 .arrow {
    display: inline-block;
    transition: transform 0.6s ease;
  }
  
  .collapsible h3 .arrow.open {
    transform: rotate(180deg);
  }
  @media (max-width: 768px){

    .collapsible h3 {
     width: 20.938rem;/*335*/
    }
    .collapsible .content.open {
      width: 20.938rem;/*335px*/
    }
    .collapsible {
        width: auto;
        max-width: 90%; 
      }
    
      .collapsible .content.open {
        width: 100%; 
        margin-left: auto;
        margin-right: auto;
      }
    }
    
    
    
    
    