/* Footer.scss */
.footer {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

html {
  position: relative;
  min-height: 100vh; 
  margin: 0;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content img {
  object-fit: cover;
  width: 12.2rem;
  height: 3.944rem;
}
@media (max-width: 768px){
  .footer-content img {
    width: 7.625rem; /*122px*/
    height: 2.465rem;/*39.44px*/
  }
  .footer-content p{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.75rem;
  }
  .footer-content {
    padding-top: 1.563rem; /*25px*/
    padding-bottom: 1.563;
  }
}