/* Header.scss */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #white;
  }
  
    .logo img {
      width: 100px; /* Ajustez la taille du logo en fonction de vos besoins */
    }
  
    nav ul {
      list-style: none;
    }
    
    nav ul li {
      display: inline-block;
      margin-left: 20px; 
    }
  
    nav ul li:first-child {
      margin-left: 0;
    }
  
    nav ul li a {
      text-decoration: none;
      color: #FF6060;
      font-weight: 500;
      font-size: 24px;
      font-style: "Montserrat";
    }